<md-content class="md-warm md-hue-3" layout="row" layout-wrap layout-align="center start">
    <md-card flex="100">
        <md-card-content>
            <form name="UpgradeForm">
                <h1>Become a teacher</h1>
                <md-input-container class="md-block">
                    <label>Choose your subscription</label>
                    <md-select name="rate"  ng-model="$ctrl.model.is_teacher" required>
                        <md-option value="1">$4.99 for 1 months</md-option>
                        <md-option value="2">$11.99 for 3 months</md-option>
                        <md-option value="3">$39.99 for the entire year</md-option>
                    </md-select>
                    <div ng-messages="UpgradeForm.select.$error" role="alert" multiple="">
                        <div ng-message="required">Select an option</div>
                    </div>
                </md-input-container>
                <p>Enter your credit card information</p>
                <md-input-container class="md-block" >
                    <label>Name</label>
                    <input ng-model="model" type="text"  name="name" required/>
                    <div ng-messages="UpgradeForm.name.$error" role="alert" multiple="">
                        <div ng-message="required">Name required!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" >
                    <label>Number</label>
                    <input type="text"  ng-model="model1" pattern="[0-9]{4}[-][0-9]{4}[-][0-9]{4}[-][0-9]{4}"name="cardumber" placeholder="xxxx-xxxx-xxxx-xxxx" ng-minlength="19" ng-maxlength="19" required/>
                    <div ng-messages="UpgradeForm.cardnumber.$error" role="alert" multiple="">
                        <div ng-message="required">Please enter in correct form: 0000-1111-2222-3333</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>CVV</label>
                    <input type="text"  ng-model="model2"  pattern="[0-9]{3}" name="ccv" placeholder="xxx" ng-minlength="3" ng-maxlength="3" required/>
                    <div ng-messages="UpgradeForm.ccv.$error" role="alert" multiple="">
                        <div ng-message="required">Enter in form: 123</div>
                    </div>
                </md-input-container>
                <md-button ng-disabled="!UpgradeForm.$valid" class="md-raised"  ng-click="$ctrl.upgrade()">Upgrade</md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>