<div class="container" layout="row" layout-align="center" flex>
    <div ng-cloak>
        <md-content class="md-warm md-hue-3">
            <md-content class="md-padding">
                <div layout="column" layout-padding>

                    <h3>Here, you can see your mails.</h3>
                    <br>

                    <table class="table table-bordered">
                        <tr>
                            <th>Sender</th>
                            <th>Subject</th>
                            <th>Unread</th>
                        </tr>
<!--
                        <tr ng-repeat="teacher in $ctrl.teachers">
                           <md-button ng-click="$ctrl.">
                            <td>{{ message.sender }}</td>
                            <td>{{ message.subject }}</td>
                            <td>if({{ message.unread }}{ //To-do show unread symbol <md-icon><ng-md-icon icon="mail"></ng-md-icon> </md-icon>}else{//to-do show read symbol} <md-icon> </md-icon></td>

                            <md-button class="md-icon-button"aria-label="Cancel lesson" ng-click="$ctrl.delete(teacher)" >
                                                <md-icon><ng-md-icon icon="cancel" ></ng-md-icon></md-icon>
                                            </md-button>

-->
                    </table>
                </div>
    </div>
    </md-content>
    </md-content>
</div>
</div>
