<div class="container" layout="row" layout-align="center" flex>
    <div layout="column" layout-padding>
        <md-content class="md-no-momentum">
            <md-card>
                <md-card-title>
                    <md-card-title-media>
                        <div layout="row" layout-align="center center" layout-padding>
                            <img ng-src="{{$ctrl.getPosterURL()}}" class="md-media-md">
                        </div>
                    </md-card-title-media>
                    <md-card-title-text>
                        <md-card-acations layout="row" layout-align="end center">
                            <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()">
                                <md-icon>
                                    <ng-md-icon icon="mode_edit"></ng-md-icon>
                                </md-icon>
                            </md-button>

                            <md-button class="md-icon-button" aria-label="Delete Item" ng-click="$ctrl.delete()">
                                <md-icon>
                                    <ng-md-icon icon="delete"></ng-md-icon>
                                </md-icon>
                            </md-button>
                        </md-card-acations>

                        <span class="md-headline">{{$ctrl.lesson.title}}</span>
                        <span class="md-subhead">{{$ctrl.lesson.instrument_list}}</span>

                    </md-card-title-text>

                </md-card-title>

                <md-card-content>
                    <p>{{$ctrl.lesson.start_day}}</p>
                    <p>{{$ctrl.lesson.start_time}}</p>
                    <p>{{$ctrl.lesson.end_time}}</p>
                    <p>{{$ctrl.lesson.frequency}}</p>
                </md-card-content>


            </md-card>
            </form>
        </md-content>
    </div>
</div>