<md-content class="md-warm md-hue-3" layout="row" layout-wrap layout-align="center start">
    <md-card flex="100">
        <md-card-content>
            <form name="ProfileForm">
                <h1>Update your Information</h1>
                <md-input-container class="md-block" >
                    <label>New First Name</label>
                    <input type="text"  name="comment" ng-model="$ctrl.model.fname" required/>
                </md-input-container>
                <md-input-container class="md-block" >
                    <label>New Last Name</label>
                    <input type="text"  name="comment" ng-model="$ctrl.model.lname" required/>
                </md-input-container>
                <md-input-container class="md-block" >
                    <label>New EmailAddress</label>
                    <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[a-z]{2,3}$"  name="comment" ng-model="$ctrl.model.emailadress" required/>
                    <div ng-messages="RegistrationForm.emailadress.$error" role="alert" multiple="">
                        <div ng-message="required">Please enter your E-mail address. Only upper- & lowercase + "._%+-" are allowed</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
                    <md-button ng-disabled="!ProfileForm.$valid" ng-click="$ctrl.save()" class="md-raised md-primary">Save</md-button>
                </div>

            </form>
        </md-card-content>
    </md-card>
</md-content>