<div class='md-padding' layout="row" layout-wrap layout-align="center start">
    <md-card flex="100">
        <md-card-content>
            <form name="LoginForm">
                <md-input-container class="md-block">
                    <label>Login</label>
                    <input md-maxlength="30" type="text" name="username" ng-model="$ctrl.login.username" placeholder="login" required=""/>
                    <div ng-messages="LoginForm.username.$error" role="alert" multiple="">
                        <div ng-message="required">Please enter your username.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" pattern=".{8,}" ng-model="$ctrl.login.password" placeholder="password" required="" md-maxlength="64"/>
                    <div ng-messages="LoginForm.password.$error" role="alert" multiple="">
                        <div ng-message="required">Minimum Password Length is 8.</div>
                    </div>
                </md-input-container>
                <md-button ng-disabled="!LoginForm.$valid" ng-click="$ctrl.submit()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
            </form>
        </md-card-content>
    </md-card>
</div>

