<!--<div class="container" layout="row" layout-align="start" flex>
    <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
        <md-list>
            <md-list-item> <md-button ng-click="$ctrl.redirectEditProfile()">Edit Profile </md-button> </md-list-item>
            <md-list-item> <md-button ng-click="$ctrl.cancel()">Your inbox </md-button></md-list-item>
            <md-list-item> <md-button ng-click="$ctrl.cancel()"> Appointment Page </md-button></md-list-item>
            <md-list-item> <md-button ng-click="$ctrl.cancel()"> Search a Teacher </md-button></md-list-item>
            <md-list-item> <md-button ng-click="$ctrl.cancel()"> Rate a Teacher </md-button></md-list-item>
            <md-list-item> <md-button ng-click="$ctrl.cancel()"> Cancel a Lesson </md-button></md-list-item>
            <md-list-item> <md-button ng-click="$ctrl.cancel()"> Add New Time Slot </md-button></md-list-item>
        </md-list>
        <md-content>

        </md-content>
    </md-sidenav>
-->

<div layout="column" layout-padding="">
    <span flex="20"></span>
    <md-content class="login-form" layout="row" flex="35">
        <span flex="35"></span>
        <md-card flex="30">
            <md-card-content>
                <form name="LoginForm">
                    <md-input-container class="md-block">
                        <label>Login</label>
                        <input type="text" name="username" ng-model="$ctrl.login.username" placeholder="login" required=""/>
                        <div ng-messages="LoginForm.username.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your username.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="$ctrl.login.password" placeholder="password" required="" md-maxlength="64"/>
                        <div ng-messages="LoginForm.password.$error" role="alert" multiple="">
                            <div ng-message="required">Please enter your password.</div>
                        </div>
                    </md-input-container>
                    <md-button ng-disabled="!LoginForm.$valid" ng-click="$ctrl.submit()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                </form>
            </md-card-content>
        </md-card>
        <span flex></span>
    </md-content>
    <span flex></span>
</div>

