<md-content layout-padding>
    <div class="container" layout="row" layout-wrap layout-align="center start" ng-cloak>
        <md-card flex="100" layout-margin>
            <h1> Add new lesson </h1>
            <p> Please enter the necessary information about your session </p>
            <br>
            <h3> {{$ctrl.lesson.title}} </h3>
            <br/>
            <form name="lessonForm">
                <md-input-container class="md-icon-float md-block">
                    <label>Title</label>
                    <input ng-model="$ctrl.lesson.title" type="text" required>
                </md-input-container>
                <div>
                    <md-input-container md-block">
                        <label>Instrument(s)</label>
                        <md-select name="type" ng-model="$ctrl.lesson.instrument_list" multiple required>
                            <md-option value="piano">Piano</md-option>
                            <md-option value="guitar">Guitar</md-option>
                            <md-option value="violin">Violin</md-option>
                            <md-option value="recorder">Redcorder</md-option>
                            <md-option value="drums">Drums</md-option>
                            <md-option value="transverse_flute">Transverse flute</md-option>
                            <md-option value="clarinet">Clarinet</md-option>
                            <md-option value="trumpet">Trumpet</md-option>
                            <md-option value="saxophone">Saxophone</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div>
                    <md-input-container md-datepicker ng-model="$ctrl.lesson.start_day" required md-block">
                        <label>Date</label>
                        <md-datepicker ng-model="$ctrl.lesson.start_day"  required ></md-datepicker>
                    </md-input-container>
                    <md-input-container  md-block">
                        <label>Start time</label>
                        <input ng-model="$ctrl.lesson.start_time" type=moment('"time"').toDate() required class="form-control" placeholder="08:00">
                    </md-input-container>
                    <md-input-container  md-block">
                        <label>End time</label>
                        <input ng-model="$ctrl.lesson.end_time" type=moment('"time"').toDate() required class="form-control" placeholder="10:00">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Session frequency</label>
                        <md-select name="type" ng-model="$ctrl.lesson.frequency" required>
                            <md-option value="onetime">one time</md-option>
                            <md-option value="weekly">weekly</md-option>
                            <md-option value="biweekly">bi weekly</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row">
                    <span flex></span>
                    <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
                    <md-button ng-disabled="!lessonForm.$valid" ng-click="$ctrl.save()" class="md-raised md-primary">Save time slot
                    </md-button>
                    <md-button ng-mouseover="tooltip=true" ng-mouseleave="tooltip=false" title="On this page, you can create a new lesson and see the list of your lessons.">
                        <md-icon>
                            <ng-md-icon icon="help"></ng-md-icon>
                        </md-icon>
                    </md-button>
                    </div>
            </form>
                </div>

        </md-card>
    </div>
</md-content>