<div class="container" layout="row" layout-align="start" flex>
    <md-sidenav md-selected-nav-item="currentNavItem" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
        <md-list>
            <md-list-item ng-click="$ctrl.redirectEditProfile()">Edit Profile </md-list-item>
            <md-list-item ng-click="$ctrl.redirectYourInbox()">Your inbox</md-list-item>
            <md-list-item ng-click="$ctrl.redirectYourAppointmentPage()"> Appointment Page</md-list-item>
            <md-list-item ng-click="$ctrl.redirectSearchATeacher()"> Search a Teacher</md-list-item>
            <md-list-item ng-click="$ctrl.redirectRateATeacher()"> Rate a Teacher </md-list-item>
            <md-list-item ng-click="$ctrl.redirectCancelALesson()"> Cancel a Lesson </md-list-item>
            <md-list-item ng-click="$ctrl.newLesson()"> Add New Time Slot</md-list-item>
        </md-list>
        <md-content>

        </md-content>
    </md-sidenav>

    <div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <h1> {{$ctrl.lesson.title}} </h1>
        <br/>
        <form name="lessonForm">
            <md-input-container class="md-icon-float md-block">
                <label>Title</label>
                <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.lesson.title" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Year</label>
                <md-icon><ng-md-icon icon="date_range" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.lesson.year" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>MPAA Rating</label>
                <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.lesson.mpaa_rating" type="text">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Synopsis</label>
                <textarea ng-model="$ctrl.lesson.synopsis" md-maxlength="1000" rows="8" md-select-on-focus></textarea>
            </md-input-container>

            <div layout="row">
                <span flex></span>
                <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
                <md-button class="md-raised " type="submit" ng-click="$ctrl.save()">Save</md-button>
                <md-button class="md-raised" type="submit" ng-click="$ctrl.newLesson()">Add New time slot</md-button>
                <md-button ng-click="$ctrl.redirectAddNewTimeSlot()">
                    <md-icon><ng-md-icon icon="help"></ng-md-icon></md-icon>
                </md-button>
            </div>

        </form>
    </md-content>

</div>
    </div>