<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">

    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Edit Profile</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Your Inbox</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Appointment Page</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Search a Teacher</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Rate a Teacher</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Cancel a Lesson</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Add New Time Slot</a>

</div>
