<!--<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>


<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">

    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Edit Profile</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Your Inbox</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Appointment Page</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Search a Teacher</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Rate a Teacher</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Cancel a Lesson</a>
    <a href="#" class="w3-bar-item w3-button w3-border-bottom w3-hover-green">Add New Time Slot</a>

</div>-->

<div class="container" layout="row" layout-align="start" flex>
    <md-sidenav md-selected-nav-item="currentNavItem" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-whiteframe-4dp">
        <md-list>
            <md-list-item ng-click="$ctrl.redirectEditProfile()">Edit Profile </md-list-item>
            <md-list-item ng-click="$ctrl.redirectYourAppointmentPage()"> Appointment Page</md-list-item>
            <md-list-item ng-click="$ctrl.redirectYourInbox()">Your message inbox</md-list-item>
            <md-list-item ng-click="$ctrl.redirectSearchATeacher()"> Search a teacher</md-list-item>
            <md-list-item ng-click="$ctrl.redirectRateATeacher()"> Rate a teacher </md-list-item>
            <md-list-item ng-click="$ctrl.redirectCancelALesson()"> Cancel a lesson </md-list-item>
            <md-list-item ng-click="$ctrl.newLesson()"> Add a new time slot</md-list-item>
        </md-list>
        <md-content>

        </md-content>
    </md-sidenav>
    </div>