
sidebar{
   /*color: #00FFFF; */
    height: 88vh;
    background-color: rgba(98, 148, 250, 0.74);
    /*  background-color: rgba(57, 101, 250, 0.74); */

}


md-list-item.sidebar-item{
    min-height: 20px;
    height: 12vh; /* ~~88/7 -height md-list/number of sidebar items */
    /* color: #00FFFF; */
    /* font-size: todo */
}