md-sidenav{
    width: 200px;
}

sidebar{
   /*color: #00FFFF;  width: 33vh;*/
    width: 200px;
    height: 89vh;
    background-color: rgba(98, 148, 250, 0.74);
    /*  background-color: rgba(57, 101, 250, 0.74); */

}


md-list-item.sidebar-item{
   /* border-bottom-style: solid;
    border-bottom-width: 0.5vh; */
    min-height: 20px;
    height: 8vh; /* ~~88/7 -height md-list/number of sidebar items */
    /* color: #00FFFF; */
    /* font-size: todo */
}