<md-sidenav md-selected-nav-item="currentNavItem" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
            class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">
    <sidebar>
        <md-list>
            <md-list-item id ="topSize" class="sidebar-item" ng-click="$ctrl.redirectEditProfile()">Edit Profile
            </md-list-item>
            <md-list-item class="sidebar-item" ng-click="$ctrl.redirectYourAppointmentPage()">Appointment Page
            </md-list-item>
            <md-list-item class="sidebar-item" ng-click="$ctrl.redirectYourInbox()">Your message inbox</md-list-item>
            <md-list-item class="sidebar-item" ng-click="$ctrl.redirectSearchATeacher()"> Search a teacher
            </md-list-item>
            <md-list-item class="sidebar-item" ng-click="$ctrl.redirectRateATeacher()"> Rate a teacher</md-list-item>
            <md-list-item class="sidebar-item" ng-click="$ctrl.redirectAddNewTimeSlot()"> Create a Lesson</md-list-item>
            <md-list-item id ="bottomSize" class="sidebar-item" ng-click="$ctrl.redirectCancelALesson()"> Cancel a lesson
            </md-list-item>
        </md-list>
        <img id="add" ng-src="http://duncanlock.net/images/posts/better-figures-images-plugin-for-pelican/dummy-200x200.png" alt="Description" />
    </sidebar>
</md-sidenav>
