<div class="container" layout="row" layout-align="start" flex>


    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Weekly">
                    <md-content class="md-padding">
                        <h3>Please click 'Add new time slot' or a specific time slot to create a new music session!</h3>
                        <h1 class="md-display-2">Weekly</h1>


                            <div layout="row">
                            <div flex><b>Time</b></div>
                            <div flex><b>Monday</b></div>
                            <div flex><b>Tuesday</b></div>
                            <div flex><b>Wednesday</b></div>
                            <div flex><b>Thursday</b></div>
                            <div flex><b>Friday</b></div>
                            <div flex><b>Saturday</b></div>
                            <div flex><b>Sunday</b></div>
                        </div>
                    </md-content>
                </md-tab>
               <!-- <md-tab label="List of time slots">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">List of time slots</h1>
                        <div layout="column" layout-padding>
                            <md-content class="md-no-momentum">
                                <h3>Please click 'Add new time slot' to create a new music session!</h3>
                                <br>
                                <form name="lessonForm">
                                    <md-list>
                                        <md-list-item aria-label="Lesson" ng-click="$ctrl.details(lesson)" class="noright" ng-repeat="lesson in $ctrl.lessons">


                                            <p> {{lesson.title}} , {{lesson.year}}</p>


                                            <md-button class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit(lesson)" >
                                                <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
                                            </md-button>

                                            <md-button class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete(lesson)" >
                                                <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
                                            </md-button>
                                            <md-divider ng-if="!$last"></md-divider>
                                        </md-list-item>
                                        <md-divider></md-divider>

                                    </md-list>
                                </form>
                            </md-content>

                        </div>
                </md-tab>-->

                <!--<md-tab label="Monthly">
                    <md-content class="md-padding">
                        <h3>Please click 'Add new time slot' or a specific time slot to create a new music session!</h3>
                        <h1 class="md-display-2">Monthly</h1>
                        <p><md-calendar ng-model="month"></md-calendar></p>
                    </md-content>
                </md-tab>
                <md-tab label="Yearly">
                    <md-content class="md-padding">
                        <h3>Please click 'Add new time slot' or a specific time slot to create a new music session!</h3>
                        <h1 class="md-display-2">Yearly</h1>
                        <p><md-calendar ng-model="year"></md-calendar></p>
                    </md-content>
                </md-tab>-->

            </md-tabs>
        </md-content>




        <div layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            <md-button class="md-raised" ng-click="$ctrl.newLesson()">Add New time slot</md-button>
            <md-button ng-mouseover="tooltip=true" ng-mouseleave="tooltip=false">
                <md-icon><ng-md-icon icon="help"></ng-md-icon></md-icon>
            </md-button>
            <div class="tooltip" ng-show="tooltip" md-direction="bottom">On this page, you can create a new lesson and see the list of your lessons.
            </div>
        </div>

    </div>






